@import "tailwindcss";

html,
body,
#root {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
}

#root {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #a2e00f;
	color: #333333;
}
